<div class="row">
	<header>
		<div class="block-wrapper">
			<div class="block">
				<div class="side-corner-tag-wrapper">
						<span class="side-corner-tag">TU SALDO!</span>
				</div>
			</div>
		</div>
	</header>
	<section class="col-md-12">
		<div class="contenedor_formulario">
			<form class="form-inline" role="form" method="post">
				<div class="form-group">
					<label for="num_tarjeta" class="control-label">Nº de tarjeta BIP</label>
					<input type="text" class="form-control" id="num_tarjeta" name="num_tarjeta" placeholder="Número de tarjeta BIP!" maxlength="10" autofocus required onkeydown="return onlyNumbers(event);">
				</div>
				<div class="form-group">
					<input id="consulta_saldo" name="consulta_saldo" type="submit" value="Consultar saldo" class="btn btn-primary">
				</div>
			</form>
		</div>
	</section>
	<footer>
		<p>Proyecto experimental by <a href="mailto:francisco.capone@gmail.com">francisco.capone[at]gmail.com</a></p>
	</footer>
</div>